/**
 * Ding calendar styles.
 *
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#ding-calendar-container .table-bordered th,
#ding-calendar-container .table-bordered td,
#ding-calendar-container table tr,
#ding-calendar-container table td {
  border-left: 1px solid #f1f2f2;
  border-top: 1px solid #f1f2f2;
}
#ding-calendar-container .navi-heading {
  text-align: center;
  vertical-align: middle;
}
#ding-calendar-container .navi-heading h2 {
  display: inline-block;
  text-transform: lowercase;
}
#ding-calendar-container .navi-heading .control {
  margin-top: 7px;
}
#ding-calendar-container .navi-heading .next {
  float: right;
}
#ding-calendar-container .navi-heading .prev {
  float: left;
}
#ding-calendar-container .slick-slider {
  margin-bottom: 16px;
  position: relative;
}
#ding-calendar-container .slick-slider .slick-arrow.slick-prev {
  left: 0;
}
#ding-calendar-container #calendar {
  width: 100%;
}
#ding-calendar-container #calendar a {
  text-decoration: underline;
  width: 100%;
  height: 100%;
}
#ding-calendar-container #calendar thead th {
  background: #d5d5d5;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 16px;
  text-align: center;
  padding: 25px;
}
@media screen and (max-width: 600px) {
  #ding-calendar-container #calendar thead th {
    padding: 5px 0;
  }
}
#ding-calendar-container #calendar tr:nth-child(odd) {
  background-color: #e8e8e8;
}
#ding-calendar-container #calendar tr:nth-child(even) {
  background-color: #f2f2f2;
}
#ding-calendar-container #calendar tr td {
  text-align: center;
  width: 13.14%;
}
#ding-calendar-container #calendar tr td.calendar-day.has-events {
  background-color: #999;
}
#ding-calendar-container #calendar tr td.calendar-day.has-events a {
  color: #fff;
}
#ding-calendar-container #calendar tr td.calendar-day.has-events.selected {
  background-color: #4d898f;
}
#ding-calendar-container #calendar tr td.calendar-day.has-events.selected a {
  color: #fff;
}
#ding-calendar-container #calendar tr td.calendar-day.current-day .day-number {
  font-weight: bold;
}
#ding-calendar-container #calendar tr td.calendar-day.current-day a {
  width: 100%;
  height: 100%;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  #ding-calendar-container #calendar {
    table-layout: fixed;
    margin: 0 auto;
    min-width: 280px;
  }
}

.not-logged-in .form-item-calendar-search {
  width: 86%;
}

.logged-in .form-item-calendar-search {
  width: 84%;
}

#ding-calendar-wrapper > div + div,
#ding-calendar-wrapper > div + form {
  margin: 20px 0 0 0px;
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
}
#ding-calendar-wrapper > div + div .form-item-calendar-search,
#ding-calendar-wrapper > div + form .form-item-calendar-search {
  display: inline-block;
  max-width: 100%;
}
@media screen and (max-width: 1100px) {
  #ding-calendar-wrapper > div + div .form-item-calendar-search,
  #ding-calendar-wrapper > div + form .form-item-calendar-search {
    width: 83%;
    max-width: 100%;
  }
}
@media screen and (max-width: 950px) {
  #ding-calendar-wrapper > div + div .form-item-calendar-search,
  #ding-calendar-wrapper > div + form .form-item-calendar-search {
    width: 77%;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #ding-calendar-wrapper > div + div .form-item-calendar-search,
  #ding-calendar-wrapper > div + form .form-item-calendar-search {
    clear: both;
    padding-right: 0;
    width: 100%;
  }
}
#ding-calendar-wrapper > div + div .form-item-calendar-search label,
#ding-calendar-wrapper > div + form .form-item-calendar-search label {
  display: none;
}
#ding-calendar-wrapper > div + div .form-item-calendar-search input[type="text"],
#ding-calendar-wrapper > div + form .form-item-calendar-search input[type="text"] {
  width: 100%;
}
#ding-calendar-wrapper > div + div .form-item-calendar-search + input[type="submit"],
#ding-calendar-wrapper > div + form .form-item-calendar-search + input[type="submit"] {
  display: inline-block;
  padding: 20px 100px 14px 15px;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  #ding-calendar-wrapper > div + div .form-item-calendar-search + input[type="submit"],
  #ding-calendar-wrapper > div + form .form-item-calendar-search + input[type="submit"] {
    clear: both;
    margin-left: 0;
    width: 100%;
  }
}

.view-display-id-ding_event_list .view-content {
  background-color: white;
}

#ding-calendar-events .event-list-leaf {
  background: #e5e5e5;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#ding-calendar-events .event-list-leaf .event-list-day {
  background-color: #4d898e;
  color: #fff;
  display: block;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#ding-calendar-events .event-list-leaf .event-list-month {
  text-transform: lowercase;
}
#ding-calendar-events .event-list-leaf .event-list-fulldate {
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  font-weight: bold;
  font-size: 130%;
  margin-top: 17px;
}
#ding-calendar-events .event-list-leaf .event-list-inner-wrapper {
  background: #fff;
}
#ding-calendar-events .event-list-leaf .event-list-date {
  display: block;
  font-size: 130%;
  padding-top: 5px;
  margin-bottom: -10px;
}
#ding-calendar-events .event-list-leaf .event-list-date-wrapper {
  display: inline-block;
  font-size: 75%;
  margin-right: 10px;
  min-width: 65px;
  text-align: center;
  vertical-align: top;
}
#ding-calendar-events ul.list.event-list {
  margin: 10px;
}
#ding-calendar-events ul.list.event-list .event-list-item {
  display: inline-block;
  width: 100%;
}
#ding-calendar-events ul.list.event-list h3 {
  margin-bottom: 10px;
  line-height: 1;
}
#ding-calendar-events ul.list.event-list .event-list-description {
  width: 95%;
  margin-bottom: 0;
}
#ding-calendar-events ul.list.event-list span {
  padding-right: 10px;
}
#ding-calendar-events .event-image-wrapper a {
  float: left;
  margin-right: 10px;
  max-width: 200px;
}
@media screen and (max-width: 600px) {
  #ding-calendar-events .event-image-wrapper a {
    max-width: 15%;
  }
}
